<!DOCTYPE html>
<html lang="en">
<head>
    <title>券多多</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="楚楚客,大微信客，优惠券">
    <meta name="describe" content="多家知名电商品牌的优质商品">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
</head>
<body>
<div>
    {% for item in items %}
    <a href="{{item.coupon}}">
        <div class="item">
            <image class="item_image" src="{{item.image_urls_head}}"></image>
            <text class="item_name">{{item.ad_name}}</text>
            <text class="coupon">券 : {{item.money}}元</text>
            <text class="sale_num">销量 : {{item.sales_num}}</text>
            <text class="price_value">￥{{item.ad_coupon_price}}</text>
            <button class="buy_button">领券购买</button>
        </div>
    </a>
    {% endfor %}
</div>
</body>
</html>