.clearfix:after{clear:both; content:''; font-size:0; display:block; visibility:hidden; height:0}
.fl{float: left;}
.fr{float: right;}
/*搜索框*/
.search-box {
  position: relative;
  width: 96%;
  height:2.2em;
  margin: 2% auto;
  background: #fff;
  border: 2px solid #7BA7AB;
}
.search-box input {
  width: 80%;
  height: 2.2em;
  line-height:2.2em;
  padding-left: 0.4em;
  border : 0;
  background: #F9F0DA;
  color: #9E9C9C;
}
.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 2.2em;
  border: 0;
  background: #7BA7AB;
  cursor: pointer;
}
/*商品列表*/
.item-list{
  width: 100%;
}
.item{
  width: 96%;
  background: #fff;
  padding: 2%;
}
.item-left{
  width: 33%;
  position: relative;
  float: left;
}
.item-left img{
  width:100%;
  display: block;
}
.item-right{
  width: 67%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  float: left;
}
.item-name{
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  margin-bottom: 16px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #333;
}
.sale-info{
	color: #7e7e7e;
	line-height: 40px;
}
.coupon{
  background: #ff6c58;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  padding-right: 3px;
  -webkit-border-radius: 2px;
  border-radius:2px;
  padding: 0 3px;
  vertical-align: top;
  margin:0 2px 2px 0;
  display: inline-block;
}
.mr3{
  margin-right: 3px;
}
.price-value{
  color: #fe634d;
  font-size: 16px;
  float: left;
  width: 110px;
}
.buy-button{
  font-size:16px;
  width:110px;
  background-color: #1B9AF7;
  border:none;
  color: #FFF;
}

